.personal__bar--css{
    width: 50%;
}

.personal__bar--html{
    width: 60%;
}

.personal__bar--sketch{
    width: 70%;
}

.personal__bar--photoshop{
    width: 80%;
}

.personal__bar--indesign{
    width: 100%;
}

.personal__bar--illustrator{
    width: 90%;
}